/.phpunit.cache
/node_modules
/.pnp
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.fleet
/.idea
/.vscode
/.zed
/.next/
/out/
/.scribe
/coverage
/build
/dist
/public/docs

*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.editorconfig
.todo
.pnp.js
.yarn/install-state.gz
package-lock.json
.DS_Store
.vercel
next-env.d.ts
certificates
*.tsbuildinfo
.env*.local
*.json